.git
.github
.venv
.vscode
.mypy_cache
.pytest_cache
.ruff_cache
.test-tmp
.tmp.drivedownload
.tmp.driveupload
__pycache__
*.py[cod]
*.egg-info
.coverage
.env
artifacts
data
models
mlruns
notebooks
tests
tmp
*.ipynb
*.pdf
