APP_ENV=development
LOG_LEVEL=INFO

POSTGRES_DB=pneumonia
POSTGRES_USER=pneumonia
POSTGRES_PASSWORD=change-me-locally
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-minio
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=pneumonia

MLFLOW_TRACKING_URI=http://localhost:5000
PNEUMONIA_API_URL=http://localhost:8000
API_PORT=8000
UI_PORT=8501
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-grafana
MLFLOW_ARTIFACT_ROOT=s3://pneumonia/mlflow
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=change-me-minio
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
